*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;
	margin: 	auto;	

}
@font-face{
	font-family: Sriracha;
	src:url(fonts/Sriracha-Regular.ttf); 
	/*src:url(fonts/Roboto/Roboto-Regular.ttf);*/
}
.shapka-block{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	background-color: black;
	
		
}
.logo{
	width: 	60px;
	height: 60px;
	background-image: url(img/my.jpg);
	background-position: center;
	margin-left: 30px;
	margin-top: 20px; 		
}
.razdeli{
	font-size: 	19px;
	color:#fff;
	display: inline-block;
	padding-left: 50px;
}
.razdeli:hover {
	color: #686868;
}
.socseti{
	width: 10%;
	height: 60px;
	display: flex;
	justify-content: space-around;

}
.instagram{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img/img1.jpg);
    background-position: center;
    position: right;
    margin-right: 4px;
    margin-top: 10px;
}
.instagram:hover{
	box-shadow: 0 0 5px 2px #686868;
}
    
.twitter{
	width: 	31px;
	height: 31px;
	border-radius: 50px;
    background-image: url(img/img2.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;
}
.twitter:hover{
	box-shadow: 0 0 5px 2px #686868;
}

.youtube{
	width: 	31px;
	height: 31px;
	border-radius: 50px;
    background-image: url(img/img3.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;	
}
.youtube:hover{
	box-shadow: 0 0 5px 2px #686868;
}
.silka-shapka{
	text-decoration: none;
	color: white;
}
.silka-shapka:active{
	color: grey;
}
h3{
	font-size: 130px;
	font-weight: 400;
	text-align: center;
	font-family: Sriracha;
	margin-top: 40px;
	color:black;
}
.text{
	text-align: center;
	color: black ;
	font-size: 25px;
	font-weight: bold;
}

.garantia{
	text-align: center;
	color: black ;
	font-size: 25px;
	font-weight: bold;
}
main{
    padding-top: 70px;
	width: 65%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	background-size: cover;
	background-position: center;

}
.block{
	width: calc(48% - 40px);
	height: calc((35vw - 40px)/ 16 * 9);
	margin: 40px;
	border-radius: 15px;
	margin: auto;
    margin-bottom:	30px;
}
.photo1{
    width: 100%;
    background-color: #fff;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/air2.jpg);
	background-position: center;
	
}
.photo2{	
	width: 100%;
    background-image: url(img/airpro.jpg);
    height: 325px;
    border-radius: 15px;
    background-position: center;

}
.model{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.knopka{
	padding-top: 10px;
	width: 130px;
	height: 40px;
	border-radius: 30px;
	background-color: #686868;
	margin-left: 90px;
	margin-top: 15px;
}
.zakaz{
	text-align: center;

}
.bottom-container{
	width: 	100%;
	height: 180px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
	align-items: center;	

}

.geo-p{
	color: black;
	font-size: 19px;
	text-align: center;
	padding-left: 15px;
}
.bottom1{
	width: 30%;	

}
.bottom2{
	width: 40%;
    display: flex;
	justify-content: center;
}
.bottom3{
	width: 30%;

