*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
@font-face{
	font-family: Sriracha;
	src:url(fonts/Sriracha-Regular.ttf); 
}
.ferst-container{
	width: 	100%;
	height: 1000px;
	background-color: black;
	
}
.shapka-block{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	background-color: black;
		
}
.logo{
	width: 	60px;
	height: 60px;
	background-image: url(my.jpg);
	background-position: center;
	margin-left: 30px;
	margin-top: 20px; 		
}
.razdeli{
	font-size: 	19px;
	color:#fff;
	display: inline-block;
	padding-left: 50px;
}
.razdeli:hover {
	color: #686868;
}
.socseti{
	width: 10%;
	height: 60px;
	display: flex;
	justify-content: space-around;

}
.instagram{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img1.jpg);
    background-position: center;
    position: right;
    margin-right: 4px;
    margin-top: 10px;
}
.instagram:hover{
	box-shadow: 0 0 5px 2px #686868;
}
    
.twitter{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img2.jpg);
    background-position: center;
    margin-right: 4px;
    margin-top: 10px;
}
.twitter:hover{
	box-shadow: 0 0 5px 2px #686868;
}

.youtube{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img3.jpg);
    background-position: center;
    margin-right: 4px;
    margin-top: 10px;	
}
.youtube:hover{
	box-shadow: 0 0 5px 2px #686868;
}
h3{
	font-size: 117px;
	font-weight: 400;
	text-align: center;
	font-family: Sriracha;
	margin-top: 40px;
	color:#fff;
}
.my-text{
	color: #fff;
	font-size: 26px;
	text-align: center;
	font-weight: bold;	
}
.my-text3{
	color:#fff;
	font-size: 23px;
	text-align: center;
	font-weight: bold;	
}
.img-container{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
}
.img:hover{
	box-shadow: 0 0 10px 2px #686868;
}
.img1{
	width: 19%;
	height: 230px;
	background-image: url(img8.jpg);
	border-radius: 20px;
	background-size: cover;	
}
.img2{
	width: 19%;
	height: 230px;
	background-image: url(img5.jpg);
	border-radius: 20px;
	background-size: cover;	
}
.img3{
	width: 19%;
	height: 230px;
	background-image: url(img6.jpg);
	border-radius: 20px;
	background-size: cover;	
}
.img4{
	width: 19%;
	height: 230px;
	background-image: url(img7.jpg);
	border-radius: 20px;
	background-size: cover;	
}
.bottom-container{
	width: 	100%;
	height: 120px;
	background-color: black;
	display: flex;
	justify-content: space-around;
	padding-left: 20px;

}
.bottom1{
	width: 23%;	

}
.geo-p{
	color: white;
	font-size: 19px;
	text-align: center;
	padding-left: 15px;
}

.bottom2{
	width: 45%;
    display: flex;
	justify-content: center;
}
.bottom3{
	width: 32%;

}
.my-p{
	font-size: 70px;
	color: white;
	font-family: sriracha;
	font-weight: 300;
}
.namber{
	color: white;
	text-align: center;
	font-size: 19px; 
	text-decoration:none; 
}
