*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;

}
@font-face{
	font-family: KungfontRegular;
	src:url(fonts/KungfontRegular.ttf); 
}

@font-face{
	font-family: Roboto;
	src:url(fonts/Roboto-Regular.ttf);
}
.ferst-container{
	width: 	100%;
	height: 3470px;
	background-color: white;
	
}
.shapka-block{
	width: 100%;
	height: 95px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	background-color: black;	
		
}
.kotegorii{
width: 100%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;

}
.vibor{
	margin: 70px;
	font-size: 32px;
	color: black;
	font-weight: bold;
}
.vibor1{
	border-bottom: 6px solid #686868;
}
.cherta{
	font-size: 40px;
	font-weight: bold;
}
.logo{
	width: 	60px;
	height: 60px;
	background-image: url(img/my.jpg);
	background-position: center;
	margin-left: 30px;
	margin-top: 20px; 		
}
.razdeli{
	font-size: 	19px;
	color:#fff;
	display: inline-block;
	padding-left: 50px;
}
.razdeli:hover {
	color: #686868;
}
.socseti{
	width: 10%;
	height: 60px;
	display: flex;
	justify-content: space-around;

}
.instagram{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img/img1.jpg);
    background-position: center;
    position: right;
    margin-right: 4px;
    margin-top: 10px;
}
.instagram:hover{
	box-shadow: 0 0 5px 2px #686868;
}
    
.twitter{
	width: 	31px;
	height: 31px;
	border-radius: 50px;
    background-image: url(img/img2.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;
}
.twitter:hover{
	box-shadow: 0 0 5px 2px #686868;
}

.facebook{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img/facebook.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;	
}
.facebook:hover{
	box-shadow: 0 0 5px 2px #686868;
}
.silka-shapka{
	text-decoration: none;
	color: white;
}
.silka-shapka:active{
	color: grey;
}

h3{
	font-size: 130px;
	font-weight: 400;
	text-align: center;
	font-family: KungfontRegular;
	margin-top: 40px;
	color:black;
 
}

.b-u{
	text-align: center;
	color: black ;
	font-size: 30px;
	font-weight: 500;
	font-family: Roboto;
	margin-top: 50px;
}
.garantia{
	text-align: center;
	color: black ;
	font-size: 29px;
	font-weight: 500;
	font-family: Roboto;
}
main{
    padding-top: 80px;
	width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	background-size: cover;
	background-position: center;

}
.photo{
	width: 38%;
	height: 550px;
	margin: 40px;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 50px;
	background-position: center;
	background-size: cover;
}
.iphone13{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/13pro.jfif);
	background-position: center;
	background-size: cover;
}
.iphone12pro{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/12pro.jpg);
	background-position: center;
	background-size: cover;
}
.iphone12{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/12.png);
	background-position: center;
	background-size: cover;
}
.iphone12mini{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/12mini.png);
	background-position: center;
	background-size: cover;
}
.iphone11pro{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/11pro.jpeg);
	background-position: center;
	background-size: cover;
}
.iphone11{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/11.jpg);
	background-position: center;
	background-size: cover;
}

.iphonexs{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/xs.png);
	background-position: center;
	background-size: cover;
}
.iphonexr{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/xr.jpg);
	background-position: center;
	background-size: cover;
}
.iphone2020{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/se.png);
	background-position: center;
	background-size: cover;
}


.iphone10{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/x.jpg);
	background-position: center;
	background-size: cover;
}
.iphone8plus{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/8+.png);
	background-position: center;
	background-size: cover;
}

.iphone7plus{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/7+.jpg);
	background-position: center;
	background-size: cover;
}
.iphone7{
    width: 100%;
    background-color: #686868;
    height: 420px;
    border-radius: 15px;
    background-image: url(img/7.png);
	background-position: center;
	background-size: cover;
}
.iphone8{	
	width: 100%;
    background-image: url(img/8.jpg);
    height: 420px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.model{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.knopka{
	padding-top: 10px;
	width: 130px;
	height: 40px;
	border-radius: 30px;
	background-color: green;
	margin-left: 70px;
	margin-top: 15px;
}
.zakaz{
	text-align: center;

}

a{
	text-decoration: none;
	color: white;
	
}
.silka-zakaz{
	color: white;
}


.bottom-container{
	width: 	100%;
	height: 180px;
	background-color: black;
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
	align-items: center;	

}

.geo-p{
	color: white;
	font-size: 21px;
	text-align: center;
	padding-left: 15px;
}
.namber{
	color: white;
	text-align: center;
	font-size: 21px; 
	text-decoration:none; 
}

.my-p{
	font-size: 28px;
	color: white;
	font-family: sriracha;
	font-weight: 300;
}	
.bottom1{
	width: 30%;	

}
.bottom2{
	width: 40%;
    display: flex;
	justify-content: center;
}
.bottom3{
	width: 30%;

}
.posledniy-container{
	width: 100%;
	height: 25px;
	background-color: #8080803b;
}
.posledniy{
	color: black;
	margin-left: 10px;
	font-size: 18px;
	

}