*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;

}
@font-face{
	font-family: Sriracha;
	src:url(fonts/Sriracha-Regular.ttf); 
	
}
@font-face{
	font-family: Roboto;
	src:url(fonts/Roboto-Regular.ttf);
}
.ferst-container{
	width: 	100%;
	height: 1900px;
	background-color: white;
	
}
.shapka-block{
	width: 100%;
	height: 95px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	background-color: black;
	
		
}
.logo{
	width: 	60px;
	height: 60px;
	background-image: url(img/my.jpg);
	background-position: center;
	margin-left: 30px;
	margin-top: 20px; 		
}
.razdeli{
	font-size: 	19px;
	color:#fff;
	display: inline-block;
	padding-left: 50px;
}
.razdeli:hover {
	color: #686868;
}
.socseti{
	width: 10%;
	height: 60px;
	display: flex;
	justify-content: space-around;

}
.instagram{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img/img1.jpg);
    background-position: center;
    position: right;
    margin-right: 4px;
    margin-top: 10px;
}
.instagram:hover{
	box-shadow: 0 0 5px 2px #686868;
}
    
.twitter{
	width: 	31px;
	height: 31px;
	border-radius: 50px;
    background-image: url(img/img2.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;
}
.twitter:hover{
	box-shadow: 0 0 5px 2px #686868;
}

.facebook{
	width: 	30px;
	height: 30px;
	border-radius: 50px;
    background-image: url(img/facebook.jpg);
    background-position: center;
    margin-right: 5px;
    margin-top: 10px;	
}
.facebook:hover{
	box-shadow: 0 0 5px 2px #686868;
}
.silka-shapka{
	text-decoration: none;
	color: white;
}
.silka-shapka:active{
	color: grey;
}
h3{
	font-size: 130px;
	font-weight: 400;
	text-align: center;
	font-family: Sriracha;
	margin-top: 40px;
	color:black;
}
a{
	text-decoration: none;
}
.silka-zakaz{
	color: white;
}
.text{
	text-align: center;
	color: black ;
	font-size: 32px;
	font-weight: 500;
	font-family: Roboto;
}

.garantia{
	text-align: center;
	color: black ;
	font-size: 32px;
	font-weight: 500;
	font-family: Roboto;
}
main{
    padding-top: 70px;
	width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	background-size: cover;
	background-position: center;

}
.block-img{
	width: 400px;
	height: 420px;
	margin: 40px;
	border-radius: 15px;
    margin-bottom:	100px;
}
.tbc-adapter{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/adapter-tbc.jpg);
	background-position: center;
}
.tbc-shnur{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/cable.jpg);
	background-position: center;
}


.adapter{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/block.png);
	background-position: center;
	
}
.kabel{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/kabel.jpg);
	background-position: center;
	
}

.magsafe{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/magsafe.jpg);
	background-position: center;
	
}

.perehodnik{
    width: 100%;
    height: 330px;
    border-radius: 15px;
    background-image: url(img/perehodnik.jpg);
	background-position: center;
	
}
.model{
	text-align: center;
	font-size: 27px;
	font-weight: bold;
}
.knopka{
	padding-top: 10px;
	width: 130px;
	height: 40px;
	border-radius: 30px;
	background-color: green;
	margin-left: 135px;
	margin-top: 15px;

}
.zakaz{
	text-align: center;
	font-weight: bold;
	color: white;
}
.bottom-container{
	width: 	100%;
	height: 180px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
	align-items: center;	

}
.namber{
	color: black;
	text-align: center;
	font-size: 21px; 
	text-decoration:none; 
}
.r{
	font-size: 12px;
	color: black;
	padding-top: 18px;
}
.my-p{
	font-size: 28px;
	color: black;
	font-family: sriracha;
	font-weight: 300;
}	
.geo-p{
	color: black;
	font-size: 21px;
	text-align: center;
	padding-left: 15px;
}
.bottom1{
	width: 30%;	

}
.bottom2{
	width: 40%;
    display: flex;
	justify-content: center;
}
.bottom3{
	width: 30%;
}

